* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  overflow: hidden;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
#wrap {
  height: 100%;
  background-color: #eee;
}
#header {
  position: absolute;
  top: 0;
  left: 0;
  height: 4rem;
  background: #232323;
}
#headerTop {
  height: 2rem;
}
#logo {
  float: left;
  width: 3.55555556rem;
  height: 1.3037037rem;
  line-height: 1.3037037rem;
  padding: 0.38518519rem 0.25185185rem 0.31111111rem;
}
#logo img {
  width: 100%;
}
#menuBtn {
  float: left;
  width: 1.91111111rem;
  height: 2rem;
  background-image: url('../img/menuBtn.png');
  background-repeat: no-repeat;
  background-size: 1.21481481rem 3.45185185rem;
}
.menuBtnClos {
  background-position: center 0.23703704rem;
}
.menuBtnOpen {
  background-position: center -1.77777778rem;
}
#nav {
  padding-top: 0.31111111rem;
  float: right;
}
#nav a {
  float: left;
  width: 1.64444444rem;
  height: 1.15555556rem;
  line-height: 1.15555556rem;
  background-color: #690;
  color: #ccc;
  margin-right: 0.22222222rem;
  font-size: 0.62222222rem;
  text-align: center;
  border-radius: 0.11851852rem;
}
#nav #searchBtn {
  width: 1.92592593rem;
  height: 1.3037037rem;
  line-height: 1.3037037rem;
  color: #fff;
  margin: 0.04444444rem 0.44444444rem 0 0;
  border-radius: 0.14814815rem;
  font-weight: bold;
}
#search {
  height: 1.52592593rem;
  padding: 0.23703704rem;
}
#search input[type="text"] {
  float: left;
  box-sizing: border-box;
  width: 12.28148148rem;
  height: 1.52592593rem;
  background-color: #999;
  padding: 0.07407407rem 0.14814815rem;
  border: 0.01481481rem solid #5a5a5a;
  font-size: 0.60740741rem;
  color: #333;
  border-radius: 0.22222222rem;
  margin-right: 5px;
}
#search input[type='text']::-webkit-input-placeholder {
  color: #333;
}
#search input[type='text']:focus {
  background: #fff;
}
#search input[type=submit] {
  float: left;
  width: 3.00740741rem;
  height: 1.52592593rem;
  border: none;
  background-color: #414040;
  color: #fff;
  font-size: 0.60740741rem;
  border-radius: 0.22222222rem;
}
#list {
  display: none;
  width: 100%;
  position: absolute;
  top: 2rem;
  padding: 0.14814815rem 0;
  border-top: 0.01481481rem solid #6a6a6a;
  background-color: rgba(0, 0, 0, 0.8);
}
#list li {
  float: left;
  width: 22.5%;
  height: 2rem;
  line-height: 2rem;
  font-size: 0.8rem;
  text-align: center;
  font-weight: bold;
}
#list li a {
  color: #fff;
}
#content {
  padding-top: 4rem;
}
#navs {
  box-sizing: border-box;
  height: 2.62222222rem;
  padding: 0.45925926rem 0 0.20740741rem;
}
#navsList {
  float: left;
  white-space: nowrap;
  font-size: 0;
}
#navsList li {
  display: inline-block;
  height: 1.91111111rem;
  line-height: 1.91111111rem;
  padding: 0 0.56296296rem;
  font-size: 1rem;
}
#navsList li a {
  color: #020202;
}
#navsList .active {
  background-color: #690;
}
#navsList .active a {
  color: #fff;
}
