<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div id="demo">
  姓： <input type="text" placeholder="First Name" v-model="FirstName"><br>
  名： <input type="text" placeholder="Last Name" v-model="LastName"><br>
  姓名：<input type="text" placeholder="Full Name" v-model="FullName">
</div>
</body>
<script type="text/javascript" src="./vue.js"></script>
<script type="text/javascript">
new Vue({
  el:'#demo',
  data:{
    FirstName:'z',
    LastName:'t'
  },
  computed:{
    FullName:{
      get(){
        return this.FirstName + '-' + this.LastName
      },
      set(value){
        const names = value.split('-')
        this.FirstName = names[0]
        this.LastName = names[1]
      }
    }
  }
})


</script>
</html>